body {
      font-family: Arial, sans-serif;
      margin: 2em;
    }
    header {
      text-align: center;
    }
    section {
      margin-top: 2em;
    }
    #nav-section {
      background: linear-gradient(to bottom, rgb(29, 29, 85), rgb(25,25,36));
      width: 300px;
      Position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      list-style-type: none;
    }
    #profile-image {
      width: 150px;
      height: 150px;
      margin-top: 15px;
    }
    #menu-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }